{% extends "emails/base_email.html" %}

{% load i18n frontend %}

{% block content %}
{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{% url "fronted_password_reset" as url %}
{{ protocol }}://{{ domain }}{{ url|decode_url }}?uid={{ uid }}&token={{ token }}
{% endblock %}
{% trans 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}
{% endautoescape %}

{% endblock %}