EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
EMAIL_FILE_PATH = os.path.join(config('PROJECT_HOME_DIR', ''), 'tmp/emails/')
os.makedirs(EMAIL_FILE_PATH, exist_ok=True)

sentry_sdk.init(
    dsn=config('SENTRY_DSN', default=''),
    integrations=[DjangoIntegration()]
)
